# Confluence
# DNDEV_AWS_ID: AWSのID
# DNDEV_AWS_PASSWORD: AWSのパスワード
# GENIIE_ID: geniieのユーザーID(メールアドレス)
# GENIIE_PASSWORD: geniieのパスワード
DNDEV_AWS_ID=
DNDEV_AWS_PASSWORD=
GENIIE_ID=
GENIIE_PASSWORD=

# AppsFS
# APPS_ID: AppsのID
# APPS_PASSWORD: Appsのパスワード
# APPS_TOTP_SECRET: AppsのTOTPシークレット
APPS_ID=
APPS_PASSWORD=
APPS_TOTP_SECRET=

# Rocket.Chat
# ROCKETCHAT_USER_ID: Rocket.ChatのユーザーID(Rocket.Chat に Webブラウザでログインして開発用ツール(F12)を開き、アプリケーション > ローカル ストレージ > https://rc.dnjpchat.net > Meteor.userId から確認可能)
# ROCKETCHAT_TOKEN: Rocket.Chatのパーソナルアクセストークン(Rocket.Chat > マイアカウント > パーソナルアクセストークン から発行)
ROCKETCHAT_USER_ID=
ROCKETCHAT_TOKEN=
